.sortable-ghost td {
	background-color: yellow !important;
	opacity: .5;
}

.sortable-handle {
	cursor: move;
}

/*disable css3tips whe draggable because abs pos messes up the browser drag image*/
.sortable-item[draggable="true"] [data-tips]:after,
.sortable-item[draggable="true"] [data-tips]:before {
	display: none;
}
