.sortable-ghost td {
	background-color: yellow !important;
	opacity: .5;
}

.sortable-handle {
	cursor: move;
}

/*disable css3tips whe draggable because abs pos messes up the browser drag image*/
.sortable-item[draggable="true"] [data-tips]:after,
.sortable-item[draggable="true"] [data-tips]:before {
	display: none;
}

.units tbody tr td {
	padding: 0;
}

.units .wrapper {
	position:relative;
	width: 100%;
	height: 100%;
	padding: 8px;
}

.dead .wrapper:before {
	content: " ";
	position: absolute;
	left: 0; top: 50%; width: 100%;
	border-bottom: 3px solid red;
} 

.dead { text-decoration: line-through; color: red; }
.dead .wrapper { color: black; }

.battlestats {
	position: absolute;
	left: 0;
	top: -1em;
	width: 100%;
	height: 2em;
}

.battlestats .battlecounter,
.battlestats .battleoutcome {
	width: 33%;
} 

.battleicon {
	margin: 0 auto;
}

.battlecounter {
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.counter {
	padding: .25em .5em;
	background-color: black;
	opacity: .75;
	border-radius: 1em;
}

.battleoutcome .glyphicon{
	font-size: 2em;
}

.mirror {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
